{% load user_tags %}
{% load app_tags %}
{% if media.aggregated_end_date %}
  <div class="font-medium">{{ media.aggregated_end_date|user_date_format:user }}</div>
  {% if media.repeats > 1 %}
    {% if media.item.media_type != MediaTypes.GAME.value and media.item.media_type != MediaTypes.BOARDGAME.value or user.game_logging_style != 'sessions' %}
      <div class="text-xs text-indigo-400 mt-1">
        <span>Latest</span>
      </div>
    {% endif %}
  {% endif %}
{% elif media.end_date %}
  {{ media.end_date|user_date_format:user }}
{% else %}
  <span class="text-gray-500">-</span>
{% endif %}
