{% load app_tags %}
{% with track_id=media.id|default_if_none:'' %}
  <img alt="{{ media.item }}"
       class="lazyload min-w-10 w-10 h-10 object-cover rounded-md{% if not public_view|default:False %} parent-hover-tap:hidden{% endif %}"
       data-src="{{ media.item.image|default:IMG_NONE }}"
       src="{{ IMG_NONE }}">
  {% if not public_view|default:False %}
    <button class="w-10 h-10 bg-indigo-600 hover:bg-indigo-500 text-white rounded-md transition-colors items-center justify-center hidden cursor-pointer parent-hover-tap:flex"
            hx-get="{% media_view_url 'track_modal' media.item %}"
            hx-vals='{"return_url": "{{ request.get_full_path|urlencode }}", "instance_id": "{{ track_id }}"}'
            hx-target="#{% component_id 'track' media.item track_id %}"
            hx-trigger="click once"
            @click="trackOpen = true">{% include "app/icons/edit.svg" with classes="w-4 h-4" %}</button>

    {# Track Modal #}
    <div x-show="trackOpen"
         @keydown.escape.window="trackOpen = false"
         class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
      <div class="modal-max-height overflow-y-auto px-4 md:px-0 relative z-60 w-full"
           style="width: min(96vw, 72rem);"
           @click.outside="trackOpen = false">
        <div id="{% component_id 'track' media.item track_id %}"></div>
      </div>
    </div>
  {% endif %}
{% endwith %}
