{% load app_tags %}
{% load user_tags %}

{% if not is_pagination %}
<thead class="text-left text-gray-400 text-sm">
  <tr>
    <th class="p-2 w-15"></th>
    <th class="p-2 pe-8 w-2/5">Artist</th>
    <th class="p-2 text-center">Score</th>
    <th class="p-2 text-center">Status</th>
    <th class="p-2 text-center">Start Date</th>
    <th class="p-2 text-center">End Date</th>
  </tr>
</thead>
<tbody id="media-table-body">
{% endif %}
{% for tracker in media_list %}
  <tr class="hover:bg-[#39404b] transition-colors cursor-pointer hover-tap{% if forloop.last and media_list.has_next %} pagination-trigger{% endif %}"
      x-data="{ trackOpen: false }"
      {% if forloop.last and media_list.has_next %} hx-get="{% url 'medialist' media_type %}?page={{ media_list.next_page_number }}" hx-trigger="revealed threshold:150px once" hx-swap="beforeend" hx-target="#media-table-body" hx-include="#filter-form" hx-indicator="#loading-indicator" data-page="{{ media_list.next_page_number }}" {% endif %}>
    <td class="p-2 relative">
      {# Artist photo (from Wikipedia) #}
      {% if tracker.artist.image and tracker.artist.image != IMG_NONE %}
        <img alt="{{ tracker.artist.name }}"
             class="lazyload min-w-10 w-10 h-10 object-cover rounded-md parent-hover-tap:hidden"
             data-src="{{ tracker.artist.image }}"
             src="{{ IMG_NONE }}">
      {% else %}
        <div class="min-w-10 w-10 h-10 bg-[#3e454d] rounded-md flex items-center justify-center parent-hover-tap:hidden">
          {% include "app/icons/person.svg" with classes="w-5 h-5 text-gray-600" %}
        </div>
      {% endif %}
      <button class="w-10 h-10 bg-indigo-600 hover:bg-indigo-500 text-white rounded-md transition-colors items-center justify-center hidden cursor-pointer parent-hover-tap:flex"
              hx-get="{% url 'artist_track_modal' tracker.artist.id %}"
              hx-vals='{"return_url": "{{ request.get_full_path|urlencode }}"}'
              hx-target="#artist-track-modal-{{ tracker.artist.id }}"
              hx-trigger="click once"
              @click="trackOpen = true">
        {% include "app/icons/edit.svg" with classes="w-4 h-4" %}
      </button>

      {# Track Modal #}
      <div x-show="trackOpen"
           @keydown.escape.window="trackOpen = false"
           class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
        <div class="w-152 modal-max-height overflow-y-auto px-4 md:px-0 relative z-60"
             @click.outside="trackOpen = false">
          <div id="artist-track-modal-{{ tracker.artist.id }}"></div>
        </div>
      </div>
    </td>
    <td class="p-2 pe-8 font-medium">
      <a href="{% url 'artist_detail' tracker.artist.id %}"
         class="hover:text-indigo-400 transition-colors line-clamp-1">{{ tracker.artist.name }}</a>
    </td>
    {% if tracker.score %}
      <td class="p-2 text-center">
        <div class="flex items-center justify-center">
          {% include "app/icons/star.svg" with classes="w-4 h-4 text-yellow-400 mr-1 fill-current" %}
          <span class="text-white -mt-[3px]">{{ tracker.score|floatformat:1 }}</span>
        </div>
      </td>
    {% else %}
      <td class="p-2 text-center">
        <div class="flex items-center justify-center">
          {% include "app/icons/star.svg" with classes="w-4 h-4 text-gray-400 mr-1 fill-current" %}
        </div>
      </td>
    {% endif %}

    <td class="p-2 text-center">{{ tracker.status_readable }}</td>

    {% if tracker.start_date %}
      <td class="p-2 text-center">{{ tracker.start_date|user_date_format:user }}</td>
    {% else %}
      <td class="p-2 text-center">
        <span class="text-gray-500">-</span>
      </td>
    {% endif %}

    {% if tracker.end_date %}
      <td class="p-2 text-center">{{ tracker.end_date|user_date_format:user }}</td>
    {% else %}
      <td class="p-2 text-center">
        <span class="text-gray-500">-</span>
      </td>
    {% endif %}
  </tr>
{% endfor %}
{% if not is_pagination %}</tbody>{% endif %}

